p {
    margin: 0;
}

.Card {
    background: rgb(18, 123, 112);
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(114, 9, 9, 0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  height: 380px;
  margin: 30px;
  padding: 0 20px;
  position: relative;
  text-align: center;
 
  width: 280px;
}

.Card__img {
    text-align: center;
}

.Card__types {
    display: flex;
    justify-content: center;    
}

.Card__type {
    padding: 30px 30px;
    margin: 10px 10px 10px 0;
    border-radius: 10px;
    background: cyan;
    color: #fff;
}

.Card__name {
    text-align: center;
    text-transform: capitalize;
    font-weight: 800;
}

.Card__info {
    margin-left: 0px;
}

.Card__data {
    padding-bottom: 10px;
}

.Card__data .title {
    font-weight: 700;
}

